Body{
    background-color: #939393;
}

div .cabecalho{
    width: 1229px;
    height: 218px;
    flex-shrink: 0;
    background: #242424;
}

div .sobremim{

}

div .formacoes{

}

div .projetos{

}

div .contato{

}

