@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@800&display=swap');
Body{
    background-color: #939393;
    font-family: 'Source Code Pro', monospace;
}

.cabecalho{
    margin-left: auto;
    margin-right: auto;
    height: 135px;
    flex-shrink: 0;
    background-color: #242424;
    text-align: center;
    color: white;
}
.icones{
    width: 50px
}

.titulos{
    width: 150px;
    display: inline-block;
}

